main {
    width: 100%;
    height:fit-content;
    font-family: 'Poppins', sans-serif;

    nav {
        width:100%;
        height:65px;
        padding: 4px 0 0 0;

        .menu-logo-container{
            width:fit-content;
            height:100%;

            .menu-button {
                height:80%;
            }

            .logo{
                width:auto;
                height:80%;
                margin-left:8px;
                // background: red;

                img {
                    width: inherit;
                    height:100%;
                    object-fit:contain;
                }
            }
        }

        .searchbox-navitems-login-container{
            width:fit-content;
            height:80%;
            
            .searchbox-autocomplete-container{
                width: 500px;
                height:100%;
                overflow:show;
               
                .searchbox-searchicon-container {
                    width:80%;
                    min-height:100%;
                    border-radius:25px;
                    transition: 0.4s;
                    border: 1px solid transparent;
                    margin:auto;
                    float: right;
                    background:#EEEEEE;

                    .searchbox {
                        width: calc(100% - 80px);
                        height:100%;
                        border:none;
                        outline:none;
                        padding-left:10px;
                        font-size:17px;
                        background:transparent;
                    }
                    
                    .searchicon-button {
                        height:100%;
                        width:52px;
                        
                    }

                    &-focused{
                        background:#d3d3d3;
                        border-top: 1px solid #d3d3d3;
                        border-left: 1px solid #d3d3d3;
                        border-right: 1px solid #d3d3d3;
                        border-radius: 25px 25px 0 0;
                        transition: 0.1s;
                        float:right;
                    }
    

                }

                .autocomplete-container{
                    width:80%;
                    height:0;
                    border-radius:0 0 25px 25px;
                    box-sizing: border-box;
                    overflow:hidden;
                    padding: 0 8px 0 8px;
                    transition: 0.1s;
                    border: 0px solid transparent;
                    float:right;
                    backdrop-filter: blur(20px);
                    background:rgba(255,255,255,0.5);

                   
                    &-amount-recipes {
                        width: 100%;
                        font-weight:300;
                        text-align:center;
                        margin:4px;
                    }
            
                    &-recipe {
                        height:125px;
                        width:100%;
                        margin-top: 12px;
                        border-radius:15px;
                        background:#FFFFFF;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
                        
                        &-image {
                            width:125px;
                            height:100%;
                            border-radius:15px 0 0 15px;
                        }

                        &-info{
                            width: calc(100% - 135px);
                            height:100%;
                            

                            &-container{
                                width:90%;
                                height:90%;
                                box-sizing: border-box;
                                

                                .label {
                                    display: -webkit-box;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;  
                                    overflow: hidden;
                                }

                                .stats-container {
                                    width:100%;
                                    box-sizing: border-box;
                                    height:40px;
                                    

                                    .stat {
                                        width:30%;
                                        height:100%;
                                        padding:3px;
                                        border-radius:5px;
                                        background:#EEEEEE;

                                        .stat-heading {
                                            color:#3d3d3d;
                                            font-size:7px;
                                        }

                                        .stat-info {
                                            font-size:13px;
                                            margin:0;
                                        }
                                    }
                                }

                                .action-link {
                                    color:#000000;
                                    text-decoration: none;
                                    font-size:13px;

                                    &-icon {
                                        
                                        font-size:15px;
                                    }
                                }

                                 
                            }
                        }
                    }

                    &-expanded {
                        height: fit-content;
                        max-height:80vh;
                        position:relative;
                        padding:8px 8px 8px 8px;
                        border-radius:0 0 25px 25px;
                        transition: 0.2s;
                        overflow-y:scroll;
                        // border-bottom: 1px solid #d3d3d3;
                        // border-left: 1px solid #d3d3d3;
                        // border-right: 1px solid #d3d3d3;
                        box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;                        
                        z-index: 100;
                    }
                }

            }
            .nav-items-container{
                width:fit-content;
                height:100%;
                
                .navigation-link {
                    width:fit-content;
                    height:100%;
                    padding: 8px;
                    margin:8px;
                    border-bottom: 1px solid transparent;
                    transition: 0.3s;
                    cursor:pointer; 
                    text-decoration: none;
                    color:#000000;

                    &:hover {
                        border-bottom: 1px solid red;
                        transition: 0.3s;
                    }

                    &-active {
                        border-bottom: 1px solid red;
                    }


                }
            }
            .login-button {
                width:70px;
                height:100%;
                padding:8px;
                margin:0 8px 0 8px;
                border-radius:100px;
                outline:none;
                border:none;
                color:white;
                background: #b92b27;  
                background: -webkit-linear-gradient(to bottom right, #1565C0, #b92b27);  
                background: linear-gradient(to bottom right, #1565C0, #b92b27); 
                cursor:pointer; 
                transition: 0.3s;;
                &:hover{
                    transition: 0.3s;
                    box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;                        
                }
            }
        }
    }

    section {
        width:100%;
    }
}