<main fxLayout="column" fxLayoutAlign="start center">
	<nav fxLayout="row" fxLayoutAlign="space-between end">
		<div class="menu-button-icon-container" fxLayout="row" fxLayoutAlign="space-between end">
			<button mat-icon-button fxHide.gt-md="true">
				<mat-icon>
					menu
				</mat-icon>
			</button>
			<img id="logo" src="../assets/logo.png"/>
		</div>
    	<div class="search-menu-container" fxLayout="row" fxLayoutAlign="space-between center">
			<div class="search-container" fxHide.lt-sm="true">

			</div>
			<div class="menu-container" fxHide.lt-lg="true" fxLayout="row" fxLayoutAlign="center center">
				<a *ngFor="let num of [1,2,3,4,5]" fxLayoutAlign="center center"> Link {{num}} </a>
			</div>
			<button class="login-button">
				Log In</button>
      	</div>
  	</nav>
</main>