<main fxLayout="column" fxLayoutAlign="start start">
	<nav fxLayout="row" fxLayoutAlign="space-between end">
		<!-- START Logo and Menu Icon Container -->
		<div class="menu-logo-container" fxLayout="row" fxLayoutAlign="space-between end">
			<button class="menu-button" mat-icon-button fxHide.gt-md="true">
				<mat-icon>
					menu
				</mat-icon>
			</button>
			<a class="logo" routerLink="/">
				<img src="../assets/logo.png"/>
			</a>
		</div>
		<!-- END Logo and Menu Icon Container -->
		<!-- START Searchbox - Navigation Items - Login Button Container  -->
    	<div class="searchbox-navitems-login-container" fxLayout="row" fxLayoutAlign="space-between end">
			<!-- START Searchbox Container -->
			<div class="searchbox-autocomplete-container" fxHide.lt-sm="true">
				<!-- START Searchbox - Search Icon - Container -->
				<div 	class="searchbox-searchicon-container" 
						fxLayout="row" 
						fxLayoutAlign="center center"
						[ngClass]="{'searchbox-searchicon-container-focused' : recipeSearchQuery != ''}">
					<input 	type="text" 
							class="searchbox" 
							#recipeSearchQueryInput
						   	placeholder="Summon what you want to eat" 
						   	[(ngModel)]="recipeSearchQuery"
						   	(input)="recipeSearchQueryChanged()"/>
					<button mat-icon-button class="searchicon-button">
						<mat-icon>
							search 
						</mat-icon>
					</button>
				</div>
				<!-- END Searchbox - Search Icon - Container -->
				<!-- START Autocomplete Container -->
				<div 	class="autocomplete-container"  
						fxLayout="column" 	
						fxLayoutAlign="start center"
						[ngClass]="{'autocomplete-container-expanded': recipeSearchQuery != ''}">
					<h3 class="autocomplete-container-amount-recipes"
						[ngStyle]="{'opacity': recipeSearchQuery != '' ? '1' : '0', 'transition': '0.1s'}"> 
						<strong>{{recipeSearchQueryChanged().length}}</strong> {{recipeSearchQueryChanged().length == 1 ? 'Recipe' : 'Recipes'}}
						Found 
					</h3>	
					<!-- START Autocomplete Container Recipe -->
					<div 	class="autocomplete-container-recipe" 
						*ngFor="let recipe of recipeSearchQueryChanged()" 
						fxLayout="row" 
						fxLayoutAlign="space-between center"> 
						<img 	class="autocomplete-container-recipe-image" 
								src="{{recipe.recipe.image}}" 
								alt="{{recipe.recipe.label}}" 
								title="{{recipe.recipe.label}}"/>
						<div class="autocomplete-container-recipe-info" fxLayoutAlign="start center">
							<div class="autocomplete-container-recipe-info-container" fxLayout="column" fxLayoutAlign="space-around start">
								<span class="label"> {{recipe.recipe.label}}</span>
								<div class="stats-container" fxLayout="row" fxLayoutAlign="space-between center">
									<div class="stat" fxLayout="column" fxLayoutAlign="start center">
										<span class="stat-heading"> Calories </span>
										<span class="stat-info"> {{recipe.recipe.calories | number: '1.0-0'}}</span>
									</div>
									<div class="stat" fxLayout="column" fxLayoutAlign="start center">
										<span class="stat-heading"> Time </span>
										<span class="stat-info"> {{recipe.recipe.totalTime | number: '1.0-0'}}</span>
									</div>
									<div class="stat" fxLayout="column" fxLayoutAlign="start center">
										<span class="stat-heading"> Yields </span>
										<span class="stat-info"> {{recipe.recipe.yield | number: '1.0-0'}}</span>
									</div>
								</div>
								<a href="/" class="action-link" fxLayoutAlign="center center"> Cook it <mat-icon class="action-link-icon" fxLayoutAlign="center center"> arrow_forward </mat-icon> </a>
							</div>
						</div>
					</div>
					<!-- END Autocomplete Container Recipe -->
				</div>
				<!-- END Autocomplete Container -->
			</div>
			<!-- END Searchbox Container -->
			<!-- START Navigation Items Container -->
			<div class="nav-items-container" fxHide.lt-lg="true" fxLayout="row" fxLayoutAlign="center center">
				<a class="navigation-link" routerLink="recipes" routerLinkActive="navigation-link-active" fxLayoutAlign="center center"> Recipes </a>
				<a class="navigation-link" routerLinkActive="navigation-link-active" fxLayoutAlign="center center"> About Us </a>
				<a class="navigation-link" routerLinkActive="navigation-link-active" fxLayoutAlign="center center"> Contact Us </a>
			</div>
			<!-- END Navigation Items Container -->
			<!-- START Login Button Container -->
			<button class="login-button">
				Log In
			</button>
			<!-- END Login Button Container -->
      	</div>
		<!-- END Searchbox - Navigation Items - Login Button Container  -->
  	</nav>
	<section>
		<router-outlet></router-outlet>
	</section>
	<footer fxLayout="column" fxLayoutAlign="center center">
		<div 	class="logo-container"
				fxLayoutAlign="center center">
			<img src="../assets/logo.png" />
		</div>
		<div class="footer-info-container"
				fxLayout="row"
				fxLayout.lt-md="column"
				fxLayoutAlign.lt-md="space-between center"
				fxLayoutAlign="space-evenly start">
			<div class="nav-items-container" fxLayout="column" fxLayoutAlign="start center">
				<h3> RECIPEHUT </h3>
				<a class="navigation-link" routerLink="recipes" routerLinkActive="navigation-link-active" fxLayoutAlign="center center"> Recipes </a>
				<a class="navigation-link" fxLayoutAlign="center center"> About Us </a>
				<a class="navigation-link" fxLayoutAlign="center center"> Contact Us </a>

			</div>
			<div class="contact-container" fxLayout="column" fxLayoutAlign="start center">
				<h3> CONTACT US </h3>
				<a href="mailto:webmaster@example.com">recipehutcs@recipehut.com</a>
				<a href="tel:+11234567890">+1 123-456-7890</a>
				<div 	class="social-media-container"
						fxLayout="row"
						fxLayoutAlign="space-evenly center">
					<img src="../assets/facebook_icon.svg" />
					<img src="../assets/instagram_icon.svg" />
					<img src="../assets/twitter_icon.png" />
					<img src="../assets/messenger_icon.png" />
					<img src="../assets/youtube_icon.png" />
				</div>
			</div>
			<div class="address-container" fxLayout="column" fxLayoutAlign="start center">
				<h3> ADDRESS </h3>
				<span> 12345 Joe St.</span> 
				<span> Narnia, NA</span> 
				<span> USN</span> 
			</div>
		</div>
		<div 	class="footer-bar-container"
				fxLayoutAlign="center center">
				&copy; RecipeHut. All Rights Reserved. Designed by Neel Patel
		</div>
	</footer>
</main>