main {
    width: 100%;
    height:fit-content;
    font-family: 'Poppins', sans-serif;
    // background:#a9a9a9;

    nav {
        width:90%;
        height:65px;
        padding: 4px 0 0 0;
        // border: 1px solid black;

        .menu-button-icon-container{
            width:fit-content;
            height:100%;
            // background:red;
            #logo{
                width:auto;
                height:80%;
                margin-left:8px;
                // background:blue;
                object-fit:contain;
            }
        }

        .search-menu-container{
            width:fit-content;
            height:80%;
            // background:red;
            .search-container{
                width: 500px;
                height:100%;
                // background:blue;
            }
            .menu-container{
                width:fit-content;
                height:100%;
                // background:green;
                a {
                    width:fit-content;
                    height:100%;
                    padding: 8px;
                    margin:8px;
                    border-bottom: 1px solid transparent;
                    transition: 0.3s;
                    
                    // background:yellow;
                    // border: 1px solid black;

                    &:hover {
                        border-bottom: 1px solid red;
                        transition: 0.3s;
                    }
                }
            }
            button {
                width:70px;
                height:80%;
                padding:8px;
                margin:8px;
                border-radius:100px;
                outline:none;
                border:none;
                color:white;
                background:#34547F;
            }
        }
    }
}