main {
    width: 100%;
    height:fit-content;
    font-family: 'Poppins', sans-serif;
    // background:#a9a9a9;

    nav {
        width:90%;
        height:65px;
        padding: 4px 0 0 0;
        // border: 1px solid black;

        .menu-button-icon-container{
            width:fit-content;
            height:100%;
            // background:red;
            #logo{
                width:auto;
                height:80%;
                margin-left:8px;
                // background:blue;
                object-fit:contain;
            }
        }

        .search-menu-container{
            width:fit-content;
            height:80%;
            .search-main-container{
                width: 500px;
                height:100%;
                overflow:show;
                // background:blue;
                .search-bar-icon-container {
                    width:80%;
                    min-height:100%;
                    background:#EEEEEE;
                    border-radius:25px;
                    transition: 0.4s;
                    border: 1px solid transparent;
                    float:right;

                    .search-bar {
                        width: calc(100% - 80px);
                        height:100%;
                        border:none;
                        outline:none;
                        padding-left:10px;
                        font-size:17px;
                        background:transparent;
                    }
                    
                    .search-button {
                        height:100%;
                        width:52px;
                        // background:green;
                    }

                }

                .search-bar-icon-container-focused{
                    background:#d3d3d3;
                    border-top: 1px solid #d3d3d3;
                    border-left: 1px solid #d3d3d3;
                    border-right: 1px solid #d3d3d3;
                    border-radius: 25px 25px 0 0;
                    transition: 0.1s;
                    float:right;
                }

                .autocomplete-container{
                    width:80%;
                    height:0;
                    border-radius:0 0 25px 25px;
                    box-sizing: border-box;
                    overflow:hidden;
                    padding: 0 8px 0 8px;
                    background:#EEEEEE;
                    transition: 0.1s;
                    border: 0px solid transparent;
                    float:right;
                   
                    #amount-recipes {
                        width: 100%;
                        font-weight:300;
                        text-align:center;
                        margin:4px;
                    }
            
                    .autocomplete-single-recipe {
                        height:100px;
                        width:100%;
                        margin-top: 12px;
                        border-radius:15px;
                        background:#FFFFFF;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;                        
                        .image {
                            width:100px;
                            height:100%;
                            border-radius:15px 0 0 15px;
                        }

                        .info-container {
                            width: calc(100% - 110px);
                            box-sizing: border-box;
                            height:90%;
                            padding:0 12px 0 0;
                            // background:red;

                            h3, p {
                                margin:0;
                                // background:blue;
                            }

                            h3 {
                                // white-space:normal;
                                // word-break: break-word;
                                overflow: hidden;
                                // hyphens: auto;
                                // overflow-wrap: break-word;
                                // text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 1; /* number of lines to show */
                                        line-clamp: 1; 
                                -webkit-box-orient: vertical;
                                font-weight:400;
                            }

                            div {
                                height:fit-content;
                                // background:blue;
                            }

                            p {
                                font-size:10px;
                                font-weight:300;
                            }

                            a {
                                margin:0;
                                padding:0;
                                text-decoration: none;
                                color: #000000;
                                font-weight:300;
                                font-size:15px;
                                // background:yellow;
                            }

                        }
                    }
                }

                .autocomplete-container-expanded {
                    height: fit-content;
                    max-height:80vh;
                    padding:8px 8px 25px 8px;
                    border-radius:0 0 25px 25px;
                    transition: 0.2s;
                    overflow-y:scroll;
                    border-bottom: 1px solid #d3d3d3;
                    border-left: 1px solid #d3d3d3;
                    border-right: 1px solid #d3d3d3;
                    float:right;
                }
            }
            .menu-container{
                width:fit-content;
                height:100%;
                // background:green;
                a {
                    width:fit-content;
                    height:100%;
                    padding: 8px;
                    margin:8px;
                    border-bottom: 1px solid transparent;
                    transition: 0.3s;
                    cursor:pointer; 

                    // background:yellow;
                    // border: 1px solid black;

                    &:hover {
                        border-bottom: 1px solid red;
                        transition: 0.3s;
                    }
                }
            }
            .login-button {
                width:70px;
                height:100%;
                padding:8px;
                margin:0 8px 0 8px;
                border-radius:100px;
                outline:none;
                border:none;
                color:white;
                background: #b92b27;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to bottom right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to bottom right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                cursor:pointer; 
                transition: 0.3s;;
                &:hover{
                    transition: 0.3s;
                    box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;                        
                }
            }
        }
    }
}