<section    class="hero-text-image-container" 
            fxLayout.gt-sm="row" 
            fxLayout.lt-md="column" 
            fxLayoutAlign.gt-sm="center center"
            fxLayoutAlign.lt-md="start center">
    <div    class="hero-text-container"
            fxFlex.gt-sm="50%"
            fxFlex.lt-md="fit-content"
            fxLayoutAlign="center center">
            <div class="hero-text-container-padded"
                 fxLayout="column"
                 fxLayoutAlign="center center">
                <h1 class="hero-text-container-padded-title"> 
                    Is it bussin?
                </h1>
                <span class="hero-text-container-padded-info"> 
                    Is the food you're eating right now actually tasty? 
                    Try out some of our recipes and let us know 
                    if you enjoyed them or not!
                </span>
                <button class="hero-text-container-padded-action-button">
                    Taste The Greatness
                </button>
            </div>
    </div>
    <img    class="hero-image-container"
            fxFlex.gt-sm="50%"
            fxFlex.lt-md="50%"
            src="../../assets/hero-2.png"/>
</section>
<section    class="seasonal-recipes-container"
            fxLayout="column"
            fxLayoutAlign="start center">
    <h1 class="seasonal-recipes-container-heading"
        fxLayout="row" 
        fxLayoutAlign="center end"> Seasonal Feedings </h1>
    <div    class="seasonal-recipes-container-items"
            fxLayout="column"
            fxLayoutAlign="start start">
            <div    class="seasonal-recipes-container-items-double-container"
                    fxLayout="row"
                    fxLayout.lt-md="column"
                    fxLayoutAlign="center end"
                    fxLayoutAlign.lt-md="center center">
                <div    class="single-season-container"
                        fxFlex="40%"
                        fxFlex.lt-md="50%">

                </div>
                <div    class="single-season-container"
                        fxFlex="60%"
                        fxFlex.lt-md="50%">
                    
                </div>
            </div>
            <div    class="seasonal-recipes-container-items-double-container"
                    fxLayout="row"
                    fxLayout.lt-md="column"
                    fxLayoutAlign="center start"
                    fxLayoutAlign.lt-md="center center">
                <div    class="single-season-container"
                        fxFlex="60%"
                        fxFlex.lt-md="50%">

                </div>
                <div    class="single-season-container"
                        fxFlex="40%"
                        fxFlex.lt-md="50%">
                    
                </div>
            </div>
    </div>
</section>
