.hero-text-image-container {
    height:525px;
    width:100%;
    padding:8px;
    // background:red;

    .hero-text-container, .hero-image-container {
        width:100%;
        height:100%;
        // background:red;
    }

    .hero-text-container {

        &-padded {
            width:80%;
            height:80%;
            
            &-title {
                font-weight:800;
                font-size:50px;
                margin:0;
                line-height:60px;
                text-align: center;
                z-index: 1;
            }

            &-info {
                text-align: center;
                width:100%;
                font-weight:300;
                margin:8px 0 8px 0;
                z-index: 1;
            }

            &-action-button {
                width:fit-content;
                height:50px;
                border:none;
                padding:16px;
                margin:8px 0 8px 0;
                border-radius:100px;
                transition: 0.3s;
                color:#FFFFFF;
                background:#e42525;
                transition:0.3s;
                z-index: 1;

                &:hover{
                    cursor: pointer;
                    box-shadow: rgba(229,37,37, 0.6) 0px 7px 29px 0px;
                }
            }
        }
    }

    .hero-image-container{
        background:transparent;
        object-fit: contain;
        padding:5%;
        z-index: -1;

    }
}

.seasonal-recipes-container {
    width:100%;
    height: fit-content;

   &-heading {
        width:100%;
        margin:0;
        font-size:50px;
        padding:32px 32px 0 32px;
        text-align: center;
        box-sizing: border-box;
    }

    .supporting-text {
        text-align: center;
    }

    &-items {
        width:100%;
        height:fit-content;
        
        &-double-container{
            width:100%;
            height:500px;
            margin:0;

            .single-season-container {
                width:100%;
                height:90%;
                margin:4px;
                transition:0.1s;
                position: relative;
                border-radius:15px;
                background-size: cover;
                // background-attachment: fixed;

                &:hover {
                    cursor:pointer;
                    transition:0.3s;
                }

                &-blurred-container {
                    height:100%;
                    width: 100%;
                    backdrop-filter: blur(7px);
                    background:rgb(255,255,255,0.8);
                    transition:0.3s;
                    border-radius:15px;

                    .heading {
                        margin:0;
                        text-align: center;
                        font-size:70px;
                        line-height:100px;
                        
                    }

                    .action-button {
                        width:fit-content;
                        height:50px;
                        margin:8px;
                        border:none;
                        outline:none;
                        padding:0 16px 0 16px;
                        border-radius:25px;
                        transition:0.3s;
                        background:transparent;
                    }

                    #season-action-button-spring{
                        // border: 2px solid #00C853; 
                        color: #FFFFFF;
                        transition:0.3s;
                        background: #11998e;  /* fallback for old browsers */
                        background: -webkit-linear-gradient(to bottom right, #00C853, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to bottom right, #00C853, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        box-shadow: #00C853 0px 0px 30px 0px;
                        
                        

                        &:hover {
                            transition:0.3s;
                            cursor:pointer;
                            box-shadow: #00C853 0px 0px 30px 0px;

                        }
                    }

                    #season-action-button-summer{
                        color: #FFFFFF;
                        background: #F7971E;  /* fallback for old browsers */
                        background: -webkit-linear-gradient(to bottm right, #FFAB00, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to bottom right, #FFAB00, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        box-shadow: #FFAB00 0px 0px 30px 0px;
                        transition:0.3s;
                        
                        

                        &:hover {
                            transition:0.3s;
                            cursor:pointer;
                            box-shadow: #FFAB00 0px 0px 30px 0px;

                        }
                    }

                    #season-action-button-fall{
                        color: #FFFFFF;
                        background: #f12711;  /* fallback for old browsers */
                        background: -webkit-linear-gradient(to bottom right, #f5af19, #FF6D00);  /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to bottom right, #f5af19, #FF6D00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        box-shadow: #FF6D00 0px 0px 30px 0px;
                        transition:0.3s;
                        
                        

                        &:hover {
                            transition:0.3s;
                            cursor:pointer;
                            box-shadow: #FF6D00 0px 0px 30px 0px;

                        }
                    }

                    #season-action-button-winter{
                        color: #FFFFFF;
                        background: #7F7FD5;  /* fallback for old browsers */
                        background: -webkit-linear-gradient(to bottom right, #00B0FF, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to bottom right, #00B0FF, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        box-shadow: #00B0FF 0px 0px 30px 0px;
                        transition:0.3s;
                        
                        

                        &:hover {
                            transition:0.3s;
                            cursor:pointer;
                            box-shadow: #00B0FF 0px 0px 30px 0px;

                        }
                    }

                }
            }
        }

    }
}

.top-recipes-container {
    width:100%;
    height:fit-content;
    margin-top:32px;
    margin-bottom: 64px;
    background:transparent;
    // border-top: 2px dashed #BBBBBB;
    // border-bottom: 2px dashed #BBBBBB;


    &-heading {
        width:100%;
        height:fit-content;
        margin:0;
        padding: 32px 0 32px 0;
        font-size:40px;
        line-height:40px;
    }

    &-items-container {
        width:100%;
        height: fit-content;
        margin-top:16px;
        border-radius:15px;
        overflow-x: scroll;
        white-space: nowrap;

        .single-top-recipe-container {
            width:275px;
            height:475px;
            margin-right: 40px;
            display:inline-block;
            border-radius:15px;
            // background:blue;

            &:nth-child(1){
                margin-left: 0;
            }

            &-flexed{
                width:100%;
                height:100%;
                position:relative;
                border-radius:15px;
                
                .recipe-image {
                    position: absolute;
                    width:auto;
                    height:50%;
                    object-fit: cover;
                    border-radius: 50px;
                    z-index: 2;
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px 0px;
                }

                .info-container {
                    width:100%;
                    height:70%;
                    position:relative;
                    z-index: 1;
                    margin-top:auto;
                    border-radius:50px;

                    .main-container {
                        width:90%;
                        height:65%;

                        .heading {
                            width:100%;
                            min-height:75px;
                            height:fit-content;
                            margin:0;
                            // text-align:center;
                            font-size: 25px;
                            font-weight: 400;
                            white-space: initial;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            line-clamp: 2; 
                            -webkit-box-orient: vertical;
                            // background:yellow;
                        }

                        .author {
                            margin-right:16px;
                            font-weight:200;
                        }

                        .stars-container {
                            width:fit-content;
                            height:fit-content;
                            margin: 4px 0 4px 0;
                            // background:red;

                            .star-icon-empty {
                                color: rgb(219, 200, 200);
                            }
                            
                            .star-icon-checked{
                                color:#FF6D00;
                            }
                        }

                        .action-button {
                            // width:fit-content;
                            // height:50px;
                            // padding:16px;
                            text-decoration: none;
                            margin: 8px 0 8px 0;
                            color:#000000;
                            // background:black;
                        }
                    }
                }

                & {
                    #top-recipe-1, #top-recipe-6 {
                        background:#FFEBEE;
                    }

                    #top-recipe-2, #top-recipe-7 {
                        background:#E0F2F1;
                    }

                    #top-recipe-3, #top-recipe-8 {
                        background:#F3E5F5;
                    }

                    #top-recipe-4, #top-recipe-9 {
                        background:#E3F2FD;
                    }

                    #top-recipe-5, #top-recipe-10 {
                        background:#E0F2F1;
                    }
                }
            }
        }
    }
}

.cooking-chef-container {
    width:100%;
    height:fit-content;
    // background:red;

    &-image {
        width:100%;
        height:auto;
        // background:blue;
    }

    &-info {
        width:100%;
        height: 500px;
        // background:yellow;

        &-main{
            width:100%;
            height:fit-content;
            // background:green;

            .heading {
                width:100%;
                height:fit-content;
                text-align:center;
                line-height:50px;
                font-size:50px;
                margin:0;
                // background:pink;
            }

            .supporting-text {
                width:80%;
                height:fit-content;
                // background:yellow;
                font-weight:300;
                text-align: center;
                margin:16px 0 8px 0;
                white-space: initial;
                display: block;
            }

            .action-button {
                width:100px;
                height:50px;
                margin: 16px 0 16px 0;
                border-radius:100px;
                outline:none;
                border:none;
                color:#FFFFFF;
                background:#DD2C00;
                box-shadow: rgba(221,44,1, 0.9) 0px 0px 30px 0px;

                transition:0.3s;

                &:hover {
                    cursor: pointer;
                    box-shadow: rgba(221,44,1, 0.5) 0px 0px 40px 10px;
                    transition:0.3s;
                }

            }
        }
    }
}