<section    class="hero-text-image-container" 
            fxLayout.gt-sm="row" 
            fxLayout.lt-md="column" 
            fxLayoutAlign.gt-sm="center center"
            fxLayoutAlign.lt-md="start center">
    <div    class="hero-text-container"
            fxFlex.gt-sm="50%"
            fxFlex.lt-md="fit-content"
            fxLayoutAlign="center center">
            <div class="hero-text-container-padded"
                 fxLayout="column"
                 fxLayoutAlign="center center">
                <h1 class="hero-text-container-padded-title"> 
                    Is it <span style="color:#DD2C00;"> BUSSIN? </span>
                </h1>
                <span class="hero-text-container-padded-info"> 
                    Is the food you're eating right now actually tasty? 
                    Try out some of our recipes and let us know 
                    if you enjoyed them or not!
                </span>
                <button class="hero-text-container-padded-action-button">
                    Taste The Greatness
                </button>
            </div>
    </div>
    <img    class="hero-image-container"
            fxFlex.gt-sm="50%"
            fxFlex.lt-md="50%"
            src="../../assets/hero-2.png"/>
</section>

<section    class="seasonal-recipes-container"
            fxLayout="column"
            fxLayoutAlign="start center">
    <h1 class="seasonal-recipes-container-heading"
        fxLayout="row" 
        fxLayoutAlign="center end"> Seasonal Feedings </h1>
    <span class="supporting-text"> Checkout our recipes for all seasons!</span>
    <div    class="seasonal-recipes-container-items"
            fxLayout="column"
            fxLayoutAlign="start start">
            <div    class="seasonal-recipes-container-items-double-container"
                    fxLayout="row"
                    fxLayout.lt-md="column"
                    fxLayoutAlign="center end"
                    fxLayoutAlign.lt-md="space-around center">
                <div    class="single-season-container"
                        fxFlex="50%"
                        fxFlex.lt-md="45%"
                        style="background-image: url('../../assets/spring.png');">
                        <div    class="single-season-container-blurred-container"
                                fxLayout="column"
                                fxLayoutAlign="center center">
                                <h1 class="heading" style="color: #00C853;"> Spring </h1>
                                <button class="action-button" id="season-action-button-spring"> <strong> Spring Recipes </strong> </button>
                        </div>

                </div>
                <div    class="single-season-container"
                        fxFlex="50%"
                        fxFlex.lt-md="45%"
                        style="background-image: url('../../assets/summer.png');">
                        <div    class="single-season-container-blurred-container"
                                fxLayout="column"
                                fxLayoutAlign="center center">
                                <h1 class="heading" style="color: #FFAB00;"> Summer </h1>
                                <button class="action-button" id="season-action-button-summer"> <strong> Summer Recipes </strong> </button>
                        </div>
                </div>
            </div>
            <div    class="seasonal-recipes-container-items-double-container"
                    fxLayout="row"
                    fxLayout.lt-md="column"
                    fxLayoutAlign="center start"
                    fxLayoutAlign.lt-md="space-around center">
                <div    class="single-season-container"
                        fxFlex="50%"
                        fxFlex.lt-md="45%"
                        style="background-image: url('../../assets/fall.png');">
                        <div    class="single-season-container-blurred-container"
                                fxLayout="column"
                                fxLayoutAlign="center center">
                                <h1 class="heading" style="color: #FF6D00;"> Fall </h1>
                                <button class="action-button" id="season-action-button-fall"> <strong> Fall Recipes </strong> </button>
                        </div>

                </div>
                <div    class="single-season-container"
                        fxFlex="50%"
                        fxFlex.lt-md="45%"
                        style="background-image: url('../../assets/winter.png');">
                        <div    class="single-season-container-blurred-container"
                                fxLayout="column"
                                fxLayoutAlign="center center">
                                <h1 class="heading" style="color: #00B0FF;"> Winter </h1>
                                <button class="action-button" id="season-action-button-winter"> <strong> Winter Recipes </strong> </button>
                        </div>
                    
                </div>
            </div>
    </div>
</section>

<section    class="top-recipes-container"
            fxLayout="column" 
            fxLayoutAlign="start center">
	<h1 class="top-recipes-container-heading"
		fxLayoutAlign="start end"
		fxLayoutAlign.lt-md="start end"> Top Recipes </h1>
	<div class="top-recipes-container-items-container">
		<div class="single-top-recipe-container">
			<div 	class="single-top-recipe-container-flexed"
					fxLayout="column"
					fxLayoutAlign="start center">
				<img class="recipe-image" src="../../assets/top_recipe_2.png" />
				<div 	class="info-container"
						id="top-recipe-1"
						fxLayoutAlign="center end">
						<div 	class="main-container"
								fxLayout="column" 
								fxLayoutAlign="start start">
							<h1 class="heading"> Chickpea Salad Sandwich</h1>
							<div 	class="stars-container"
									fxLayout="row"
									fxLayoutAlign="start center"> 
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-empty"> star </mat-icon>
							</div>
							<button class="action-button">
								Cook now
							</button>
						</div>
				</div>
			</div>
		</div>

		<div class="single-top-recipe-container">
			<div 	class="single-top-recipe-container-flexed"
					fxLayout="column"
					fxLayoutAlign="start center">
				<img class="recipe-image" src="../../assets/top_recipe_2.png" />
				<div 	class="info-container"
						id="top-recipe-2"
						fxLayoutAlign="center end">
						<div 	class="main-container"
								fxLayout="column" 
								fxLayoutAlign="start start">
							<h1 class="heading"> Chickpea Salad Sandwich</h1>
							<div 	class="stars-container"
									fxLayout="row"
									fxLayoutAlign="start center"> 
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-empty"> star </mat-icon>
							</div>
							<button class="action-button">
								Cook now
							</button>
						</div>
				</div>
			</div>
		</div>

		<div class="single-top-recipe-container">
			<div 	class="single-top-recipe-container-flexed"
					fxLayout="column"
					fxLayoutAlign="start center">
				<img class="recipe-image" src="../../assets/top_recipe_2.png" />
				<div 	class="info-container"
						id="top-recipe-3"
						fxLayoutAlign="center end">
						<div 	class="main-container"
								fxLayout="column" 
								fxLayoutAlign="start start">
							<h1 class="heading"> Chickpea Salad Sandwich</h1>
							<div 	class="stars-container"
									fxLayout="row"
									fxLayoutAlign="start center"> 
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-empty"> star </mat-icon>
							</div>
							<button class="action-button">
								Cook now
							</button>
						</div>
				</div>
			</div>
		</div>

		<div class="single-top-recipe-container">
			<div 	class="single-top-recipe-container-flexed"
					fxLayout="column"
					fxLayoutAlign="start center">
				<img class="recipe-image" src="../../assets/top_recipe_2.png" />
				<div 	class="info-container"
						id="top-recipe-4"
						fxLayoutAlign="center end">
						<div 	class="main-container"
								fxLayout="column" 
								fxLayoutAlign="start start">
							<h1 class="heading"> Chickpea Salad Sandwich</h1>
							<div 	class="stars-container"
									fxLayout="row"
									fxLayoutAlign="start center"> 
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-empty"> star </mat-icon>
							</div>
							<button class="action-button">
								Cook now
							</button>
						</div>
				</div>
			</div>
		</div>

		<div class="single-top-recipe-container">
			<div 	class="single-top-recipe-container-flexed"
					fxLayout="column"
					fxLayoutAlign="start center">
				<img class="recipe-image" src="../../assets/top_recipe_2.png" />
				<div 	class="info-container"
						id="top-recipe-5"
						fxLayoutAlign="center end">
						<div 	class="main-container"
								fxLayout="column" 
								fxLayoutAlign="start start">
							<h1 class="heading"> Chickpea Salad Sandwich</h1>
							<div 	class="stars-container"
									fxLayout="row"
									fxLayoutAlign="start center"> 
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-checked"> star </mat-icon>
								<mat-icon class="star-icon-empty"> star </mat-icon>
							</div>
							<button class="action-button">
								Cook now
							</button>
						</div>
				</div>
			</div>
		</div>
		
	</div>
</section>   
