<section    class="hero-text-image-container" 
            fxLayout.gt-sm="row" 
            fxLayout.lt-md="column" 
            fxLayoutAlign.gt-sm="center center"
            fxLayoutAlign.lt-md="start center">
    <div    class="hero-text-container"
            fxFlex.gt-sm="50%"
            fxFlex.lt-md="fit-content"
            fxLayoutAlign="center center">
            <div class="hero-text-container-padded"
                 fxLayout="column"
                 fxLayoutAlign="center center">
                <h1 class="hero-text-container-padded-title"> 
                    Is it bussin?
                </h1>
                <span class="hero-text-container-padded-info"> 
                    Is your food actually tasty? Try out some of our
                    homemade recipes and let us know if you enjoyed
                    them or not!
                </span>
                <button class="hero-text-container-padded-action-button">
                    Taste The Greatness
                </button>
            </div>
    </div>
    <img    class="hero-image-container"
            fxFlex.gt-sm="50%"
            fxFlex.lt-md="50%"
            src="../../assets/hero-2.png"/>
</section>
