.hero-text-image-container {
    height:525px;
    width:100%;
    padding:8px;
    // background:red;

    .hero-text-container, .hero-image-container {
        width:100%;
        height:100%;
        // background:red;
    }

    .hero-text-container {

        &-padded {
            width:80%;
            height:80%;
            
            &-title {
                font-weight:800;
                font-size:50px;
                margin:0;
                line-height:60px;
                text-align: center;
                z-index: 1;
            }

            &-info {
                text-align: center;
                width:100%;
                font-weight:300;
                margin:8px 0 8px 0;
                z-index: 1;
            }

            &-action-button {
                width:fit-content;
                height:50px;
                border:none;
                padding:16px;
                margin:8px 0 8px 0;
                border-radius:100px;
                transition: 0.3s;
                color:#FFFFFF;
                background:#000000;
                transition:0.3s;
                z-index: 1;

                &:hover{
                    cursor: pointer;
                    box-shadow: rgba(6, 6, 51, 0.6) 0px 7px 29px 0px;
                }
            }
        }
    }

    .hero-image-container{
        background:transparent;
        object-fit: contain;
        padding:5%;
        z-index: -1;

    }
}

.seasonal-recipes-container {
    width:100%;
    height: fit-content;

   &-heading {
        width:100%;
        margin:0;
        font-size:50px;
        padding:32px 32px 0 32px;
        text-align: center;
        box-sizing: border-box;
    }

    .supporting-text {
        text-align: center;
    }

    &-items {
        width:100%;
        height:fit-content;
        
        &-double-container{
            width:100%;
            height:500px;
            margin:0;

            .single-season-container {
                width:100%;
                height:90%;
                margin:4px;
                transition:0.1s;
                position: relative;
                border-radius:15px;
                background-size: cover;
                // background-attachment: fixed;

                &:hover {
                    cursor:pointer;
                    transition:0.3s;
                }

                &-blurred-container {
                    height:100%;
                    width: 100%;
                    backdrop-filter: blur(7px);
                    background:rgb(255,255,255,0.8);
                    transition:0.3s;
                    border-radius:15px;

                    .heading {
                        margin:0;
                        text-align: center;
                        font-size:70px;
                        line-height:100px;
                        
                    }

                    .action-button {
                        width:fit-content;
                        height:50px;
                        margin:8px;
                        border:none;
                        outline:none;
                        padding:0 16px 0 16px;
                        border-radius:25px;
                        transition:0.3s;
                        background:transparent;
                    }

                    #season-action-button-spring{
                        // border: 2px solid #00C853; 
                        color: #FFFFFF;
                        transition:0.3s;
                        background: #11998e;  /* fallback for old browsers */
                        background: -webkit-linear-gradient(to bottom right, #00C853, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to bottom right, #00C853, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        box-shadow: #00C853 0px 0px 30px 0px;
                        
                        

                        &:hover {
                            transition:0.3s;
                            cursor:pointer;
                            box-shadow: #00C853 0px 0px 30px 0px;

                        }
                    }

                    #season-action-button-summer{
                        color: #FFFFFF;
                        background: #F7971E;  /* fallback for old browsers */
                        background: -webkit-linear-gradient(to bottm right, #FFAB00, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to bottom right, #FFAB00, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        box-shadow: #FFAB00 0px 0px 30px 0px;
                        transition:0.3s;
                        
                        

                        &:hover {
                            transition:0.3s;
                            cursor:pointer;
                            box-shadow: #FFAB00 0px 0px 30px 0px;

                        }
                    }

                    #season-action-button-fall{
                        color: #FFFFFF;
                        background: #f12711;  /* fallback for old browsers */
                        background: -webkit-linear-gradient(to bottom right, #f5af19, #FF6D00);  /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to bottom right, #f5af19, #FF6D00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        box-shadow: #FF6D00 0px 0px 30px 0px;
                        transition:0.3s;
                        
                        

                        &:hover {
                            transition:0.3s;
                            cursor:pointer;
                            box-shadow: #FF6D00 0px 0px 30px 0px;

                        }
                    }

                    #season-action-button-winter{
                        color: #FFFFFF;
                        background: #7F7FD5;  /* fallback for old browsers */
                        background: -webkit-linear-gradient(to bottom right, #00B0FF, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to bottom right, #00B0FF, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        box-shadow: #00B0FF 0px 0px 30px 0px;
                        transition:0.3s;
                        
                        

                        &:hover {
                            transition:0.3s;
                            cursor:pointer;
                            box-shadow: #00B0FF 0px 0px 30px 0px;

                        }
                    }

                }
            }
        }

    }
}

.top-recipes-container {
    width:100%;
    height:fit-content;
    margin-top:16px;
    background:transparent;
    // border-top: 2px dashed #BBBBBB;
    border-bottom: 2px dashed #BBBBBB;

    &-heading {
        width:100%;
        height:fit-content;
        margin:0;
        padding: 32px 0 32px 0;
        font-size:40px;
        line-height:40px;
        // background:blue;
    }

    &-items-container {
        width:100%;
        height: fit-content;
        border-radius:15px;
        overflow-x: scroll;
        overflow-y: scroll;
        white-space: nowrap;
        padding:0;
        // background:red;

        .single-top-recipe-container {
            width:300px;
            height:400px;
            margin: 0 8px 0 8px;
            display:inline-block;
            border-radius:15px;

            &:nth-child(1){
                margin-left: 0;
            }

            &-flexed{
                width:100%;
                height:100%;
                border-radius:15px;
                // background:red;
                
                .recipe-image {
                    width:200px;
                    height:200px;
                    display:block;
                    position:relative;
                    z-index: 2;
                    border-radius:100px;
                    margin: 0 auto;
                    object-fit: contain;
                    box-sizing: border-box;
                    // background:blue;
                }

                .recipe-info {
                    width:100%;
                    height: calc(100% - 100px);
                    position:relative;
                    top: -100px;
                    z-index: 1;
                    border-radius:15px;
                }

                #top-recipe-1 {
                    background:#FFEBEE;
                }

                #top-recipe-2 {
                    background:#E0F2F1;
                }

                #top-recipe-3 {
                    background:#F3E5F5;
                }

                #top-recipe-4 {
                    background:#E3F2FD;
                }

                #top-recipe-5 {
                    background:#E0F2F1;
                }

               
            }
        }
    }
}